
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffd7b9;
    margin: 0;
    padding: 20px;
}

h1{
    color: #b44b28;
    font-size: 75px;
}

h2{
    color: #ffd7b9;
    font-size: 80px;
}

p{
    color: #ffd7b9;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

header {
    grid-column: 1 / -1; 
    text-align: center;
    margin-bottom: 30px;
    font-family: "Shizuru", serif;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #b44b28;
}


.about-wrapper {
    grid-column: 1 / -1; 
    background-color: #4f67b1;
    border: solid #b44b28 2px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mind-wrapper, .body-wrapper, .soul-wrapper {
    background-color: #4f67b1;
    padding: 20px;
    border: solid #b44b28 2px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.link-wrapper {
    grid-column: 1 / -1; 
    margin-top: 20px;
}

.link-wrapper a {
    font-size: 16px;
    color: #4f67b1;
    text-decoration: none;
}

.link-wrapper a:hover {
    text-decoration: underline;
    color: #b44b28;
}


img {
    width: 100%;
    max-width: 300px; 
    height: auto;
    margin: 15px auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    margin: 10px 0;
    line-height: 1.5;
}

.shizuru-regular {
    font-family: "Shizuru", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  